@font-face {
    font-family: GothamBlack;
    src: url(../fonts/Gotham-Black.otf);
}

@font-face {
    font-family: GothamBook;
    src: url(../fonts/GothamBook.ttf);
}

@font-face {
    font-family: GothamLight;
    src: url(../fonts/Gotham-Light.otf);
}

.left-side-login {
    width: 45%;
    height: 100%;
    background-color: #7fc3f3;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    position: relative;
    text-align: center;
}

    .left-side-login .login-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .left-side-login .login-content .welcome-text {
            font-size: 36px;
            color: #ededed;
            font-family: "GothamBlack";
        }

        .left-side-login .login-content .info-text {
            font-size: 18px;
            color: #ededed;
            margin-top: -30px;
            font-family: "GothamBook";
        }

        .left-side-login .login-content .btnControladorCadastro {
            font-size: 14px;
            padding: 5px 30px;
            border-radius: 100px;
            background-color: #7fc3f3;
            border: solid 1px #273844;
            box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
            cursor: pointer;
            color: #ededed;
            font-family: "GothamLight";
            transition: 0.3s;
        }

            .left-side-login .login-content .btnControladorCadastro:hover {
                background-color: #273844;
                border: solid 1px #7fc3f3;
                transform: scale(110%);
                transition: 0.3s;
            }

        .left-side-login .login-content a {
            text-decoration: none;
        }
